<div *ngIf="product" class="container">
  <div class="row">
    <div class="col-md-6 pull-left">
      <div class="mb-lg-5">
        <h2><strong>{{product.catalogName}}</strong></h2>
      </div>
      <div>
        <h5><strong class="mr-2">Status:</strong> <span>{{product.vehicleStatus}}</span></h5>
      </div>
      <div>
        <h5><strong class="mr-2">Price:</strong> <span><small>BDT </small>{{product.price}}</span></h5>
      </div>
      <div>
        <h5><strong class="mr-2">Year:</strong> <span>{{product.yearOfManufacture}}</span></h5>
      </div>
    </div>
    <div class=" col-md-6 pull-right">
      <div class="mt-4">
        <h4>Product Color: <span>{{product.color}}</span></h4>
      </div>

      <div class="mt-4">

      </div>
      <div class="mt-4">
        <button (click)="handleAddToCart(product)" *ngIf="product.vehicleStatus === 'AVAILABLE'"   class="btn btn-success">Reserve
        </button>
        <button *ngIf="product.vehicleStatus !== 'AVAILABLE'"  class="btn btn-success">Already Reserved
        </button>
      </div>
    </div>
  </div>

  <app-loading [condition]="isLoading"></app-loading>
</div>

<app-toast [message]="toast.message"></app-toast>
